body{
    background:#000000;
    font-family: 'Roboto', sans-serif;
}

h1
{
   color:greenyellow;
   text-align: center;
}
h2{color:#FFFFFF;padding:40}
h3{color: rgb(219, 170, 170);padding:40;}
p{color: aqua;padding:40;}
.img-fluid{
    height: 400px;
    width: 400px;
    background: gray;
}



