body{
    background:#000000;
    font-family: 'Open Sans', sans-serif;
}
.jumbotron
{
    background: #000;
    text-align: center;
    color: azure;
}
h1
{
   color: yellowgreen;
}
h2{color: green}


